
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
    color:$font-family-primary;
    background-color: $color--primary;
    .paragraph{
    color: $font-family-primary;
    }
   
    }
     
 section   {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 2em;
      
      h3{   
    margin: 0.6em 0;
      }
      .card{
   text-align: left;
 
      width: 25%;
      background-color: $color--card;
      padding: 1em;
      border: 1px solid $color--secondary;
      
      margin: 1em;
      }
     
      
           
      .button-details{
      margin: 0.5em; 
        padding: 0.6em;
        background-color: $color--secondary;
        border: 1px solid #785a58;
        border-radius: 7%;
        color: $color--font;
    } 
    
    
    .button-details:hover {
      cursor: pointer;
      background-color: #785a58;
      color: $color--font;
    }
    
  }  
  
  