footer{
    background-color: $color--secondary;
    width: 100%;
    position: absolute;
  bottom: 0;
  padding: 1em;
    
    .paragraph-footer{
        color: $color--font;
        text-align: center;
        }
    }